<script type="application/ld+json">
{
"@context": "http://www.schema.org",
"@type": "Person",
"@id": "https://www.kmotoko.com/about.html",
"name": "Cagatay Aydin",
"alternateName": "Çağatay Aydın",
"nationality": "Turkey",
"birthPlace" : {
	"@type": "Place",
    "address": {
  		"@type": "PostalAddress",
		"addressRegion": "Istanbul",
    "addressCountry": "Turkey"
	}
},
"affiliation": [
	{
		"@type": "Organization",
		"name": "Resardis",
		"sameAs": [
			"https://twitter.com/resardis",
			"https://www.facebook.com/resardis",
      "https://www.instagram.com/resardis/",
      "https://www.linkedin.com/company/resardis"
		]
  	}
],
"alumniOf": [
	{
	 "@type": "CollegeOrUniversity",
	 "name": "Bogazici University",
	 "sameAs": [
     "https://en.wikipedia.org/wiki/Bo%C4%9Fazi%C3%A7i_University",
     "http://www.boun.edu.tr/"
   ]
	},
	{
	 "@type": "CollegeOrUniversity",
	 "name": "Georg-August University of Göttingen",
   "sameAs": [
     "https://en.wikipedia.org/wiki/University_of_G%C3%B6ttingen",
     "https://www.uni-goettingen.de/"
   ]
	}
],
"gender": "Male",
"Description": "Software Developer",
"disambiguatingDescription": "Co-founder of Resardis Decentralized Cryptocurrency Exchange",
"jobTitle": "Co-founder",
"worksFor": [
  {
  "@type": "Organization",
  "name": "Resardis",
  "sameAs": [
    "https://twitter.com/resardis",
    "https://www.facebook.com/resardis",
    "https://www.instagram.com/resardis/",
    "https://www.linkedin.com/company/resardis"
  ]
  }
],
"url": "https://www.kmotoko.com/about.html",
// "image": "https://www.kmotoko.com/assets/img/author-image.jpg",
"sameAs": [
	"https://twitter.com/kumotoko",
	"https://github.com/kmotoko",
	"https://www.linkedin.com/in/aydin-cagatay"
	]
}
</script>
