<span class="contact-list-title">
  {{- site.data.academic_strings.links["en"] | strip_html | strip_newlines | xml_escape -}}
</span>
{% if include.class -%}
<ul class="contact-list {{ include.class | strip_html | strip_newlines }}">
{% else -%}
<ul class="contact-list">
{%- endif %}
  <li>
    {%- include _icons/rss.html -%}
  </li>

  {% if site.data.author.github_username -%}
  <li>
    {%- include _icons/github.html username=site.data.author.github_username -%}
  </li>
  {%- endif %}

  {% if site.data.author.twitter_username -%}
  <li>
    {%- include _icons/twitter.html username=site.data.author.twitter_username -%}
  </li>
  {%- endif %}

  {% if site.data.author.linkedin_username -%}
  <li>
    {%- include _icons/linkedin.html username=site.data.author.linkedin_username -%}
  </li>
  {%- endif %}

</ul>
