<figure>
  <img src="{{- include.src | strip_html | strip_newlines | uri_escape -}}" title="{{- include.caption | strip_html | strip_newlines | xml_escape -}}" alt="{{- include.desc | strip_html | strip_newlines | xml_escape -}}">
  <figcaption>
    {{- include.caption | strip_html | strip_newlines | xml_escape -}}
    {%- if include.source -%} @
    {%- if include.href -%}
    <a href="{{- include.href | strip_html | strip_newlines | uri_escape -}}">
      {%- endif -%}
      {{- include.source | strip_html | strip_newlines | xml_escape -}}
      {%- if include.href -%}
    </a>
    {%- endif -%}
    {%- endif -%}
  </figcaption>
</figure>
