{%- assign object = include.object -%}
{% if object.last_modified_at -%}
  {%- assign last = object.last_modified_at | date: '%Y%m%d' -%}
  {%- assign created = object.date | date: '%Y%m%d' -%}

  {%- if last != created -%}
    <span class="last-update">
    &nbsp;&#8226;&nbsp;
    {% if site.data.author.repo -%}
    <a rel="nofollow noreferrer noopener"
       title="{{- site.data.academic_strings.revhistory['en'] | strip_html | strip_newlines | xml_escape -}}"
       href="{{- site.data.author.repo | strip_html | strip_newlines | uri_escape -}}/commits/master/{{- object.path | strip_html | strip_newlines | uri_escape -}}">
    {%- endif %}
    {{- site.data.academic_strings.lastupdated["en"] | strip_html | strip_newlines | xml_escape }}
    {% include date.html date=object.last_modified_at %}
    {% if site.data.author.repo -%}
    </a>
    {%- endif %}
    </span>
  {%- endif -%}
{%- endif %}
