---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// @import url('https://fonts.googleapis.com/css?family=Open+Sans:800|PT+Serif');

/* pt-serif-regular - latin-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/pt-serif-v11-latin-ext-regular.eot'); /* IE9 Compat Modes */
  src:
    local('PT Serif'),
    local('PTSerif-Regular'),
    url('./fonts/pt-serif-v11-latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/pt-serif-v11-latin-ext-regular.woff') format('woff'), /* Modern Browsers */
    url('./fonts/pt-serif-v11-latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/pt-serif-v11-latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/pt-serif-v11-latin-ext-regular.svg#PTSerif') format('svg'); /* Legacy iOS */
  font-display: swap;
}

/* open-sans-600 - latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/open-sans-v17-latin-ext-600.eot'); /* IE9 Compat Modes */
  src:
    local('Open Sans SemiBold'),
    local('OpenSans-SemiBold'),
    url('./fonts/open-sans-v17-latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/open-sans-v17-latin-ext-600.woff') format('woff'), /* Modern Browsers */
    url('./fonts/open-sans-v17-latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/open-sans-v17-latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/open-sans-v17-latin-ext-600.svg#OpenSans') format('svg'); /* Legacy iOS */
  font-display: swap;
}

// Our variables
// $base-font-family: "Open Sans", sans-serif;
$base-font-family: "PT Serif", serif;
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.95;
$base-line-height: 1.5;

$alt-font-family: "Open Sans", sans-serif;
$alt-font-weight: 600;

$spacing-unit:     25px;

$text-color:       #111;
$background-color: #ffffff;
$brand-color:      #d33682;

$grey-color:       #3F3F3F;
$grey-color-light: lighten($grey-color, 20%);
$grey-color-lighter: lighten($grey-color, 72%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    900px;

$on-palm:          500px;
$on-laptop:        700px;

// Width of the images in posts list
$post-list-thumbnail-width: 35%;
// Width of the author image container under the posts
$post-author-user-picture-width: 20%;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "academic";
