---
layout: default
---

{%- assign div_class = "home" -%}

<div class="{{- div_class | strip_html | strip_newlines -}}">
  <div class="site-logo-wrapper">
    {% if site.thumbnail.base and site.thumbnail.website_logo.dir and site.thumbnail.website_logo.name -%}
    {%- assign img_base = site.thumbnail.base | append: site.thumbnail.website_logo.dir | append: site.thumbnail.website_logo.name -%}
    {%- assign img_svg = img_base | append: '.svg' | strip_html | strip_newlines | uri_escape -%}
    {%- assign img_webp = img_base | append: '.webp' | strip_html | strip_newlines | uri_escape -%}
    {%- assign img_png = img_base | append: '.png' | strip_html | strip_newlines | uri_escape -%}
    {%- assign author_fullname = site.data.author.name | strip_html | strip_newlines | xml_escape -%}
    ​<picture>
      <source srcset="{{- img_svg | relative_url -}}" type="image/svg+xml">
      <source srcset="{{- img_webp | relative_url -}}" type="image/webp">
      <source srcset="{{- img_png | relative_url -}}" type="image/png">
      <img src="{{- img_png | relative_url -}}" class="site-logo" alt="{{- author_fullname -}}">
    </picture>
    {%- endif %}
  </div>
  <p>
    {{ site.description | strip_html | strip_newlines | xml_escape }}
  </p>

  {{ content }}

</div>
