---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  {%- if page.thumbnail -%}
  <header class="post-header with-thumbnail">
  {%- else -%}
  <header class="post-header">
  {%- endif -%}
    {%- if page.thumbnail and page.title -%}
    {%- assign thumb = '/assets/' | append: page.thumbnail | strip_html | strip_newlines | uri_escape -%}
    {%- assign thumb_alt = page.title | strip_html | strip_newlines | xml_escape -%}
    <img class="post-thumbnail" src="{{- thumb | relative_url -}}" alt="{{- thumb_alt -}}"/>
    {%- endif -%}
    <div class="wrapper">
      {%- if page.title -%}
      {%- assign ptitle = page.title | strip_html | strip_newlines | xml_escape -%}
      <h1 class="post-title" itemprop="name headline">{{- ptitle -}}</h1>
      {%- endif -%}
      <p class="post-meta">
        {%- if page.date -%}
        {%- assign pdate = page.date | strip_html | strip_newlines | date_to_xmlschema -%}
        <time datetime="{{- pdate -}}" itemprop="datePublished">
          {%- include date.html date=page.date -%}
        </time>
        {%- endif -%}
        {%- include last_modified_at.html object=page -%}
        {%- if site.author -%}
          &nbsp;•&nbsp;
          {%- assign sauthor = site.author | strip_html | strip_newlines | xml_escape -%}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{- sauthor -}}</span></span>
        {%- endif -%}
      </p>
      {%- if page.summary -%}
      <h3 class="post-summary">
        {{- page.summary | strip_html | strip_newlines | xml_escape -}}
      </h3>
      {%- endif -%}
    </div>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{- content -}}
  </div>

  {%- include calltoaction.html -%}

  {%- if site.shortbio and site.author -%}
  <div class="post-author">
    {%- if site.author_image and site.author_website -%}
    {%- assign img_base = '/assets/img/' | append: site.author_image -%}
    {%- assign img_svg = img_base | append: '.svg' | strip_html | strip_newlines | uri_escape -%}
    {%- assign img_webp = img_base | append: '.webp' | strip_html | strip_newlines | uri_escape -%}
    {%- assign img_png = img_base | append: '.png' | strip_html | strip_newlines | uri_escape -%}
    {%- assign author_fullname = site.author | strip_html | strip_newlines | xml_escape -%}
    <a href="{{- site.author_website | strip_html | strip_newlines | uri_escape -}}">
      ​<picture>
        <source srcset="{{- img_svg | relative_url -}}" type="image/svg+xml">
        <source srcset="{{- img_webp | relative_url -}}" type="image/webp">
        <source srcset="{{- img_png | relative_url -}}" type="image/png">
        <img src="{{- img_png | relative_url -}}" class="user-picture" alt="{{- author_fullname -}}">
      </picture>
    </a>
    {%- endif -%}
    <ul class="user-info">
      <li class="user-name">
        {{- site.author | strip_html | strip_newlines | xml_escape -}}
      </li>
      <li class="user-shortbio">
        {{- site.shortbio | strip_html | strip_newlines | xml_escape -}}
      </li>
    </ul>
  </div>
  {%- endif -%}

</article>
